  .logo {
    margin: 20px auto 20px;
    >a {
      display: block;
      width: 160px;
      height: 50px;
      margin: 0 auto;
      text-align: center;
    }
    p {
      margin-top: 10px;
    }
    img {
      height: 50px;
    }
  }