<div class="container-fluid">
	<div class="row">
		<div class="left-nav d-none d-sm-block">
			<div class="logo">
				<a href="index.html"><img src="/assets/images/logo.png"></a>
				<p class="text-center">田一块币圈导航</p>
			</div>
			<div class="items">
				<ul>
					<!--<li><a href="#"><i><img src="/assets/images/ico_news.png"></i><span>今日新闻</span></a></li>
			<li><a href="#"><i><img src="/assets/images/ico_forum.png"></i><span>区块论坛</span></a></li>-->
					<li><a href="#" class="active"><i><img src="/assets/images/ico_blockchain.png"></i><span>导航</span></a></li>
				</ul>
			</div>
			<div class="home">
				<div class="positioner">
					<div class="nonius" id="nonius">
					</div>
				</div>
				<div id="">
					<ul class="categories nav" *ngIf="item">

						<li *ngFor="let node of item.items">
							<a href="#{{node.name}}" title="{{node.title}}" class="active">{{node.title}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="donation">
				<a href="https://discord.gg/xDwPmDt" target="_blank"><i class="fab fa-discord"></i></a><br/>
				<a href="">- 关于我们 -</a>
			</div>
		</div>

		<div class="main" #main>
			<div class="container-fluid site-notice">
				<i><img src="/assets/images/ico_notice.png"></i><a href="#">最好用的币圈导航上线了！</a>
			</div>
			<div *ngIf="item">
				<div *ngFor="let node of item.items" class="item-box" id="{{node.name}}">
					<div class="tile">
						<h2>{{node.title}}</h2>
					</div>
					<div class="container-fluid">
						<div class="row items">
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item" *ngFor="let one of node.items" title="{{one.title}}">
								<div href="#">
									<i class="ico"><img src="{{one.favicon}}"></i>
									<div class="info">
										<h4>{{one.name}}</h4>
										<p>
											{{one.title}}
										</p>
										<a href="{{one.url}}" target="_blank" class="to-this-site"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<p>Copyright © tky.im 2018 All Rights Reserved. <a href="mailto:calidion@gmail.com">联系站长</a> </p>
			</div>
		</div>

	</div>
</div>