<!-- Generated template for the SiteItemComponent component -->
<ion-list-header class="title" *ngIf="item && item.items && item.items.length">
  <h3>{{item.name}}</h3>
</ion-list-header>
<site-item [parent]="item" *ngFor="let child of item.items" [item]="child"></site-item>
<ion-item *ngIf="item && !(item.items && item.items.length)">
  <ion-avatar item-start>
    <img src="{{item.favicon}}" />
  </ion-avatar>
  <h2><a target="_blank" title="{{item.title}}" href="{{item.url}}">{{item.name}}</a></h2>
  <p>{{item.desc || item.title}}</p>
</ion-item>